.merch-item {
    background-color: #fff;
    border-radius: 12px;
}
.merch-item * {
    margin: 4px;
}
.merch-item img {
    max-width: 100%;
    max-height: 250px;
}
.merch-item span {
    font-size: 1em;
}
.merch-item p {
    color: #269abc;
}
.phone {
    color: #ffffff;
    font-weight: bold;
}
.delivery-block img {
    height: 160px;
}
#nav {
    background-color: rgba(67, 67, 67, 0.95);
}
#nav li a {
    padding: 4px 15px 4px 15px;
    margin: 0;
}
#nav li .social {
}
#nav li a:hover {
    background-color: #909090;
    color: #fff;
}

.form-control {
    margin-bottom: 10px;
}
.form-container, .advantages {
    padding: 20px 10px;
    background-color: #e3e3e3;
    border-radius: 13px;
    margin-bottom: 35px;
}
.form-container {
    padding: 0 0 10px 0;
}
.form-container form {
    padding: 10px;
}
.promo img {
    width: 100%;
}
.promo, .pens ul{
    font-size: 20px;
}
.advantages {
    color: #fff;
    font-size: 18px;
    background: rgba(200, 200, 200, 0.6);
    border-radius: 16px;
    margin-top: 5.5em;
}
.form-text {
    background-color: #ffdd00;
    border-radius: 13px 13px 0 0;
    padding: 20px 10px 0 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 18px;
}
@media (min-width: 768px) {
    #nav {
        padding-right: 10px;
    }
}